<nav>
  <ul>
    <li><a onclick="loadPage('drivers')">Drivers & Vehicles</a></li>
    <li><a onclick="loadPage('tenders')">Tenders</a></li>
    <li><a onclick="loadPage('invoices')">Invoices</a></li>
    <li><a onclick="loadPage('reports')">Reports</a></li>
    <li><a onclick="loadPage('admin')">Admin</a></li>
    <li><a onclick="loadPage('chat')">Chat</a></li>
    <li><a onclick="loadPage('notifications')">Notifications</a></li>
    <li><a onclick="localStorage.clear(); window.location.href='index.html'">Logout</a></li>
  </ul>
</nav>
